.auth {
  max-width: 430px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.auth__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 530;
  font-size: 24px;
  margin-bottom: 50px;
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth__input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  color: #ffffff;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 14px;
}

.auth__button {
  font-family: "Inter", Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 30px;
}

.auth__signup-prompt {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.auth__signin-prompt {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.auth__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.2s ease;
}

.auth__link:hover {
  opacity: 0.6; /* Efecto sutil al pasar el cursor */
}

.auth__button:hover {
  opacity: 0.6; /* Efecto sutil al pasar el cursor */
}
